.carousel {
  width: 100%;
  padding: 80px 100px;
}

.button {
  font-family: "Lora", serif;
  font-size: 12px;
  background-color: black;
  color: white;
  border: none;
  padding: 6px 20px;
  margin-top: 10%;
  border-radius: 0 !important;
  box-shadow: 0 !important;
}
/* test */
.quote {
  font-family: "Times New Roman", Times, serif;
}

.attribution {
  font-family: "Times New Roman", Times, serif;
}

.sectionTitle {
  font-family: "Lora", serif;
  font-size: 1.5vh;
}

.arrow-component {
  width: 40px;
}
