.carousel {
  margin-bottom: 20vh;
  margin-top: 2vh;
  padding: 0 100px 0;
  /* background-color: yellow; */
}

.carousel-0 {
  color: black;
}

.carousel-1 {
  color: blue;
  margin-bottom: 10vh;
}

.carousel-1 .button {
  display: none;
}

.button {
  font-family: "Lora", serif;
  font-size: 12px !important;
  background-color: black !important;
  color: white;
  border: none;
  padding: 6px 20px;
  margin-top: 10%;
  border-radius: 0 !important;
  box-shadow: 0 !important;
}

.quote {
  font-family: "Times New Roman", Times, serif;
}

.attribution {
  font-family: "Times New Roman", Times, serif;
}

.sectionTitle {
    font-family: "Lora", serif;
    font-size: 1.5vh;
}

hr {
  position: relative;
  top: 20px;
  height: 1px;
  background: black;
  margin-bottom: 50px;
  width: 5%;
}
