body {
  background: url("./assets/UA5_BG.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 500;
}

.carousel-0 {
  color: black;
}

.carousel-1 .button {
  display: none;
}

.carousel-1 .quote-text {
  color: blue;
}

.sectionTitle {
  font-family: "Lora", serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

hr {
  position: relative;
  top: 10px;
  height: 1px;
  background: black;
  width: 5%;
}
